@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
    --color-primary: rgb(247,188,0);
    --color-secundary: rgb(2, 166, 181);
    --color-nav: rgb(208, 160, 3);
    --color-white : rgb(255,255,255);
    --color-black : rgb(0, 0, 0);
    --font-main : 'Varela Round', sans-serif;
    --font-text : 'Roboto', sans-serif;
    --color-backgraund: rgb(250, 250, 250);
}
/*
Main setting
*/
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text) ;
    font-size: 1.2rem;
    user-select: none;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 700;
}
/* End main*/
.body{
    display: grid;
    grid-template-areas: 
        'header header  header'
        'main    main    main'
        'main    main    main'
        'footer footer  footer';
    gap: 1rem;
    background-color: var(--color-backgraund);
}
.header{
    grid-area: header;
    text-align: center;
}
.nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-primary);
    list-style-type: none;
    min-height: 2rem;
}
.nav__list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--color-white);
}
.nav__button{
    color: var(--font-main);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.5rem;
    background-color: transparent;
}
.nav__button:hover{
    background-color: var(--color-nav) ;
}

.main{
    padding: 0px 1rem;
    grid-area: main;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.section{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
i>span{
    margin-left: 0.5rem;
}
.search{
    width: 400px;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 0px 20px;
}
.search:is(:hover,:focus){
    outline: none;
    background-color: rgb(250, 250, 250);
    box-shadow:
        3px -3px 5px rgb(255, 255, 255),  
        -3px 3px 5px rgb(102, 102, 102);
}
.button{
    margin-left: 20px ;
    height: 2rem;
    background-color: var(--color-primary);
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    box-shadow:
        5px -5px 12px rgb(255, 255, 255),  
        -5px 5px 12px rgb(102, 102, 102);
    transition: box-shadow 300ms;
}
.button:hover{
    box-shadow:
        1px -1px 2px rgb(255, 255, 255),  
        -1px 1px 2px rgb(102, 102, 102);
}   
.table {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background: var(--color-white);
    box-shadow:  
        -5px 5px 22px rgb(102, 102, 102),
        5px -5px 22px rgb(255, 255, 255);
    border-radius: 0.3rem;
}
.table thead tr {
    background-color: var(--color-secundary);
    color:  var(--color-white);
    text-align: center;
    height: 2rem;
    border-bottom: 2px solid var(--color-black) ;
}
.table thead td {
    padding: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 2px solid var(--color-black)
}
.table thead td:first-child {
    border-radius: 0.3rem 0px 0px 0px;
}
.table thead td:last-child {
    border:none;
    border-radius: 0px 0.3rem 0px 0px;
}
.table tbody tr {
    text-align: center;
    height: 2rem;
    border-bottom: 2px solid var(--color-black) ;
}
.table tbody tr:last-child{
    border: none;
}
.table tbody td {
    padding: 0.2rem;
    font-weight: 400;
    border-right: 2px solid var(--color-black)
}
.table tbody td:last-child{
    border: none;
}
.table tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.table__button{
    position: relative;
    margin: 0px 0.6rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: opacity 300ms;
}
.fa-solid{
    transition: font-size 300ms;
}
.fa-gear{
    color:rgb(12,111,253);
    
}
.fa-trash{
    color: rgb(221,53,68);
}
.table__button:hover{
    opacity: 0.8;
}
.table__button:hover > i{
    font-size: 1.1rem;
}
.tooltip{
    background-color: white;
    padding: 2px;
    display: none;
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 2px;
}
.table__button:hover > .tooltip{
    display: block;
    z-index: 100;
}
.footer{
    grid-area: footer;
    text-align: center;
}
