{% extends 'layouts/base.html' %}

{% load static %}

{% block 'title' %}Agregar proveedor{% endblock  %}

{% block 'styles' %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">

{% endblock %}

{% block 'content' %}
    <section class='section'>
        <a class='button__back' href="{% url 'index' %}"><i class="fa-solid fa-chevron-left"></i> Volver</a>
        <h4>
            {{title.title}}
        </h4>
    </section>
    <section class='section'>
        <form accion="{% url 'add_supplier' %}" class='form' method="POST">
            {% csrf_token %}
            {{form.as_div}}
            <input class='button' type="submit" value='Guardar'>
        </form>
    </section>
{% endblock  %}